@import url("fontawesome-all.min.css");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,600");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    -webkit-text-size-adjust: none;
}

mark {
    background-color: transparent;
    color: inherit;
}

input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input,
select,
textarea {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
}

/* Basic */

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background: #fff;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 19pt;
    font-weight: 300;
    line-height: 1.75em;
    color: #888;
}

body.is-preload *,
body.is-preload *:before,
body.is-preload *:after {
    -moz-animation: none !important;
    -webkit-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
    -moz-transition: none !important;
    -webkit-transition: none !important;
    -ms-transition: none !important;
    transition: none !important;
}

input,
textarea,
select {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 19pt;
    font-weight: 300;
    line-height: 1.75em;
    color: #888;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 300;
    color: #666;
    line-height: 1.5em;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: inherit;
    text-decoration: none;
}

h1 a strong,
h2 a strong,
h3 a strong,
h4 a strong,
h5 a strong,
h6 a strong {
    color: #333;
}

h2 {
    font-size: 2em;
    letter-spacing: -1px;
}

h2.alt {
    padding-top: 2em;
    color: #888;
}

h2.alt strong {
    color: #666;
}

h3 {
    font-size: 1.5em;
}

header {
    margin: 0 0 2em 0;
}

header > p {
    margin: 1em 0 0 0;
}

footer {
    margin: 2em 0 0 0;
}

strong,
b {
    font-weight: 300;
    color: #666;
}

em,
i {
    font-style: italic;
}

a {
    -moz-transition: color 0.2s;
    -webkit-transition: color 0.2s;
    -ms-transition: color 0.2s;
    transition: color 0.2s;
    color: #888;
}

a:hover {
    color: #b6b6b6;
}

sub {
    position: relative;
    top: 0.5em;
    font-size: 0.8em;
}

sup {
    position: relative;
    top: -0.5em;
    font-size: 0.8em;
}

hr {
    border: 0;
    border-top: solid 1px #ddd;
}

blockquote {
    border-left: solid 0.5em #ddd;
    padding: 1em 0 1em 2em;
    font-style: italic;
}

p,
ul,
ol,
dl,
table {
    margin-bottom: 2em;
}

br.clear {
    clear: both;
}

/* Container */

.container {
    margin: 0 auto;
    max-width: 100%;
    width: 1400px;
}

@media screen and (min-width: 961px) and (max-width: 1880px) {
    .container {
        width: 1200px;
    }
}

@media screen and (min-width: 961px) and (max-width: 1620px) {
    .container {
        width: 960px;
    }
}

@media screen and (min-width: 961px) and (max-width: 1320px) {
    .container {
        width: 100%;
    }
}

@media screen and (max-width: 960px) {
    .container {
        width: 100%;
    }
}

@media screen and (max-width: 736px) {
    .container {
        width: 100%;
    }
}

/* Row */

.row {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-items: stretch;
}

.row > * {
    box-sizing: border-box;
}

.row > .col-4 {
    width: 33.33333%;
}

.row {
    margin-top: -40px;
    margin-left: -40px;
}

.row > * {
    padding: 40px 0 0 40px;
}

@media screen and (min-width: 961px) and (max-width: 1880px) {
    .row {
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        align-items: stretch;
    }

    .row > * {
        box-sizing: border-box;
    }

    .row > .col-4-wide {
        width: 33.33333%;
    }

    .row {
        margin-top: -40px;
        margin-left: -40px;
    }

    .row > * {
        padding: 40px 0 0 40px;
    }
}

@media screen and (min-width: 961px) and (max-width: 1620px) {
    .row {
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        align-items: stretch;
    }

    .row > * {
        box-sizing: border-box;
    }

    .row {
        margin-top: -40px;
        margin-left: -40px;
    }

    .row > * {
        padding: 40px 0 0 40px;
    }
}

@media screen and (min-width: 961px) and (max-width: 1320px) {
    .row {
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        align-items: stretch;
    }

    .row > * {
        box-sizing: border-box;
    }

    .row {
        margin-top: -20px;
        margin-left: -20px;
    }

    .row > * {
        padding: 20px 0 0 20px;
    }
}

@media screen and (max-width: 960px) {
    .row {
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        align-items: stretch;
    }

    .row > * {
        box-sizing: border-box;
    }

    .row {
        margin-top: -20px;
        margin-left: -20px;
    }

    .row > * {
        padding: 20px 0 0 20px;
    }
}

@media screen and (max-width: 736px) {
    .skills-list {
        display: flex;
        flex-direction: column;
        padding: 0 0 0 0;
        margin: 0 0 0 0;
    }

    .skills-list ul {
        padding: 0 0 0 0;
        margin: 0 0 0 0;
        text-align: left;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        align-items: stretch;
    }

    .row > * {
        box-sizing: border-box;
    }

    .row > .col-12-mobile {
        width: 100%;
    }

    .row {
        margin-top: -20px;
        margin-left: -20px;
    }

    .row > * {
        padding: 20px 0 0 20px;
    }
}

/* Sections/Article */

section,
article {
    margin-bottom: 3em;
}

section > :last-child,
section > .container,
section:last-child,
article > :last-child,
article > .container,
article:last-child {
    margin-bottom: 0;
}

.row > section,
.row > article {
    margin-bottom: 0;
}

/* Image */

.image {
    display: inline-block;
    border: 0;
}

.image img {
    display: block;
    width: 100%;
}

.image.fit {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: 0.5s ease;
    backface-visibility: hidden;
}

.image.featured {
    display: block;
    width: 100%;
    margin: 0 0 2em 0;
}

/* List */

ul {
    list-style: disc;
    padding-left: 1em;
}

ul li {
    padding-left: 0.5em;
}

/* Icons */

ul.icons {
    cursor: default;
    list-style: none;
    padding-left: 0;
}

ul.icons li {
    display: inline-block;
    padding-left: 0;
}

ul.icons a {
    display: inline-block;
    width: 2em;
    height: 2em;
    line-height: 2em;
    text-align: center;
    border: 0;
}

/* Item */

.item {
    background-color: #ffd9e0;
    box-shadow: 0 0.05em 0.15em 0 rgba(255, 0, 0, 0.05);
    transition: 0.3s;
}

.item:hover {
    transform: scale(1.07);
}

.item:hover .image {
    opacity: 0.05;
}

.item:hover .middle {
    opacity: 1;
}

/* Header */

#header {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    background: #222629 url("images/overlay.png");
    box-shadow: inset -0.25em 0 0.25em 0 rgba(0, 0, 0, 0.1);
    color: #fff;
    height: 100vh;
    left: 0;
    overflow-y: hidden;
    position: fixed;
    text-align: right;
    top: 0;
    width: 375px;
}

#header .top {
    -moz-flex-grow: 1;
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1;
}

#header #particles-js {
    -moz-flex-grow: 2;
    -webkit-flex-grow: 2;
    -ms-flex-grow: 2;
    flex-grow: 2;
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 120px;
}

#header .bottom {
    background-color: #222629;
    box-shadow: inset -0.25em -0.25em 0.25em 0 rgba(0, 0, 0, 0.1);
    height: 100px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 1.5em 0 0.75em 0;
}

#header .icons {
    font-size: 0.8em;
    text-align: center;
}

#header .icons a {
    color: #41484c;
    -moz-transition: color 0.35s ease-in-out;
    -webkit-transition: color 0.35s ease-in-out;
    -ms-transition: color 0.35s ease-in-out;
    transition: color 0.35s ease-in-out;
}

#header a:hover {
    color: #fff;
}

#nav ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

#nav ul li {
    padding-left: 0;
}

#nav ul li a {
    display: block;
    padding: 0.5em 1.5em 0.5em 1.5em;
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    outline: 0;
    border: 0;
    -moz-transition: none;
    -webkit-transition: none;
    -ms-transition: none;
    transition: 0.2s;
}

#nav ul li a.active {
    background: rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 0 0.25em 0 rgba(0, 0, 0, 0.125);
    color: #fff;
}

/* Footer */

#footer {
    margin-left: 375px;
    text-align: center;
    background-color: #dce3e2;
    padding: 3em 0 4em 0;
    box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.05), inset 0 0.1em 0.1em 0 rgba(0, 0, 0, 0.025);
    font-size: 0.8em;
}

#footer .copyright {
    cursor: default;
    margin: 0;
}

#footer .copyright li {
    display: inline-block;
    line-height: 1em;
    border-left: solid 1px rgba(128, 128, 128, 0.35);
    padding: 0 0 0 0.5em;
    margin: 0 0 0 0.5em;
}

#footer .copyright li:first-child {
    border-left: 0;
    padding-left: 0;
    margin-left: 0;
}

/* Main */

#main {
    margin-left: 375px;
}

#main > section {
    margin: 0;
    overflow: hidden;
    padding: 4em 0;
    box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.05), inset 0 0.1em 0.1em 0 rgba(0, 0, 0, 0.025);
    text-align: center;
    background-image: url("images/overlay.png");
}

#main > section.cover {
    padding: 10em 0;
    background-size: cover;
    background-position: center center;
}

#main > section.one {
    background-color: #283131;
}

#main > section.two {
    background-color: #f5fafa;
}

#main > section.three {
    background-color: #ecf1f1;
}

#main > section.four {
    background-color: #e8edec;
}

#main > section.five {
    background-color: #e3e9e8;
}

/* Wide */

@media screen and (min-width: 961px) and (max-width: 1880px) {
    /* Basic */

    body,
    input,
    textarea,
    select {
        font-size: 17pt;
    }

    /* Header */

    #header {
        width: 300px;
    }

    /* Footer */

    #footer {
        margin-left: 300px;
    }

    /* Main */

    #main {
        margin-left: 300px;
    }
}

/* Normal */

@media screen and (min-width: 961px) and (max-width: 1620px) {
    /* Main */

    #main > section {
        padding: 3em 0;
    }

    #main section.cover {
        padding: 5em 0;
    }
}

/* Narrow */

@media screen and (min-width: 961px) and (max-width: 1320px) {
    /* Basic */

    body,
    input,
    textarea,
    select {
        font-size: 16pt;
    }

    .container {
        padding: 0 2em 0 2em;
    }

    /* Icons */

    ul.icons li a {
        width: 1.75em;
    }

    /* Item */

    .item {
        margin-bottom: 20px;
    }

    /* Header */

    #header {
        width: 20%;
    }

    #nav ul li a {
        font-size: 0.8em;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }

    /* Footer */

    #footer {
        margin-left: 20%;
    }

    /* Main */

    #main {
        margin-left: 20%;
    }
}

/* Narrower */

#headerToggle {
    display: none;
}

@media screen and (max-width: 960px) {
    /* Basic */

    html,
    body {
        overflow-x: hidden;
    }

    body,
    input,
    textarea,
    select {
        font-size: 16pt;
    }

    .container {
        padding: 0 2em 0 2em;
    }

    /* Item */

    .item {
        margin-bottom: 15px;
    }

    /* Icons */

    ul.icons a {
        width: 1.75em;
        font-size: 1.25em;
    }

    /* Header */

    #header {
        -moz-backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        backface-visibility: hidden;
        -moz-transform: translateX(-275px);
        -webkit-transform: translateX(-275px);
        -ms-transform: translateX(-275px);
        transform: translateX(-275px);
        -moz-transition: -moz-transform 0.5s ease;
        -webkit-transition: -webkit-transform 0.5s ease;
        -ms-transition: -ms-transform 0.5s ease;
        transition: transform 0.5s ease;
        display: flex;
        height: 100%;
        left: 0;
        overflow-y: hidden;
        position: fixed;
        top: 0;
        width: 275px;
        z-index: 10002;
        width: 275px;
        background: #222729 url("images/overlay.png");
        box-shadow: inset -0.25em 0 0.25em 0 rgba(0, 0, 0, 0.125);
    }

    #header .top {
        position: relative;
    }

    #header .particles-js {
        position: relative;
    }

    #header .bottom {
        border-top: solid 1px rgba(255, 255, 255, 0.05);
        box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.15);
        height: 100px;
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
    }

    #nav ul li a {
        padding: 0.5em 1.25em 0.5em 1.25em;
    }

    #headerToggle {
        -moz-backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        backface-visibility: hidden;
        -moz-transition: -moz-transform 0.5s ease;
        -webkit-transition: -webkit-transform 0.5s ease;
        -ms-transition: -ms-transform 0.5s ease;
        transition: transform 0.5s ease;
        display: block;
        height: 2.25em;
        left: 0;
        position: fixed;
        top: 0;
        width: 3.25em;
        z-index: 10001;
    }

    #headerToggle .toggle {
        text-decoration: none;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        outline: 0;
        border: 0;
    }

    #headerToggle .toggle:before {
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        line-height: 1;
        text-transform: none !important;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
    }

    #headerToggle .toggle:before {
        text-decoration: none;
        content: "\f0c9";
        color: #fff;
        font-size: 18px;
        background: rgba(128, 136, 144, 0.5);
        border-radius: 0.35em;
        text-align: center;
        position: absolute;
        left: 0.5em;
        top: 0.5em;
        display: block;
        width: 3.25em;
        height: 2.25em;
        line-height: 2.25em;
    }

    body.header-visible #main {
        -moz-transform: translateX(275px);
        -webkit-transform: translateX(275px);
        -ms-transform: translateX(275px);
        transform: translateX(275px);
    }

    body.header-visible #headerToggle {
        -moz-transform: translateX(275px);
        -webkit-transform: translateX(275px);
        -ms-transform: translateX(275px);
        transform: translateX(275px);
    }

    body.header-visible #header {
        -moz-transform: translateX(0);
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }

    /* Footer */

    #footer {
        margin-left: 0;
    }

    /* Main */

    #main {
        -moz-backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        backface-visibility: hidden;
        -moz-transition: -moz-transform 0.5s ease;
        -webkit-transition: -webkit-transform 0.5s ease;
        -ms-transition: -ms-transform 0.5s ease;
        transition: transform 0.5s ease;
        padding-bottom: 1px;
        margin-left: 0;
    }

    #main > section {
        padding: 3em 0;
    }

    #main section.cover {
        padding: 4em 0;
    }
}

/* Mobile */

@media screen and (max-width: 736px) {
    /* Basic */

    body,
    input,
    textarea,
    select {
        font-size: 14pt;
    }

    h2 {
        font-size: 1.5em;
        letter-spacing: 0;
        font-weight: 300;
    }

    .container {
        padding: 0 15px 0 15px;
    }

    /* List */

    ul.icons a {
        width: 2em;
        font-size: 1.25em;
    }

    /* Main */

    #main > section {
        padding: 2em 0;
    }

    #main section.cover {
        padding: 4em 0em;
    }

    #main section.cover header {
        padding: 0 1em;
    }

    /* Footer */

    #footer .copyright li {
        display: block;
        line-height: 1.25em;
        border: 0;
        padding: 0;
        margin: 1em 0 0 0;
    }

    #footer .copyright li:first-child {
        margin-top: 0;
    }
}

/* my stuff */

.profile-pic {
    object-fit: cover;
    height: 15em;
    width: 15em;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: transform 0.4s;
}

.profile-pic:hover {
    transform: scale(1.1);
}

.typing-container {
    font-weight: 100;
    font-size: 1.6em;
    padding-top: 1.1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.input-cursor {
    display: inline-block;
    width: 0.05em;
    height: 1.3em;
    background-color: white;
    margin-left: 8px;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    40% {
        opacity: 1;
    }
    60% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

.input-cursor {
    animation: blink 0.6s linear infinite alternate;
}

.image-featured {
    height: auto;
    width: 100%;
    transition: 0.4s;
    border-radius: 30px;
}

.resume-link {
    text-decoration: none;
    color: #e27689;
    border-bottom: dotted 1px #e27689;
    -moz-transition: color 0.1s ease-in-out, border-bottom-color 0.1s ease-in-out;
    -webkit-transition: color 0.1s ease-in-out, border-bottom-color 0.1s ease-in-out;
    -ms-transition: color 0.1s ease-in-out, border-bottom-color 0.1s ease-in-out;
    transition: color 0.1s ease-in-out, border-bottom-color 0.1s ease-in-out;
    outline: 0;
    font-weight: 1000;
}

.resume-link:hover {
    color: rgba(32, 35, 168, 0.5);
    border-bottom: dotted 1px rgba(32, 35, 168, 0.5);
}

.media {
    margin-top: 5em;
    margin-bottom: 7em;
}

#contact-icons > li {
    list-style: none;
    display: inline-block;
    font-size: 3em;
    padding-left: 0.2em;
    padding-right: 0.2em;
}

.skills-list {
    display: flex;
    justify-content: center;
    font-size: 1.2em;
    text-align: left;
    margin-bottom: 5em;
}

.skills-list li {
    list-style-type: none;
    padding-top: 1.2em;
    padding-right: 5em;
    padding-bottom: 0.5em;
    position: relative;
    top: 0;
    transition: top ease 0.5s;
}
.skills-list li::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #e27689;
    height: 10px;
    border-radius: 5px 5px 5px 5px;
}
.skills-list li:hover {
    top: -10px;
}

.middle {
    width: 100%;
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.text {
    color: rgb(0, 0, 0);
    font-size: 0.8em;
    line-height: 1em;
    margin-left: 1em;
    margin-right: 1em;
}
